h2[title="baslik1"]{
    color: aqua;
}
p[title="paragraf1"]
{
    color: beige;
    text-align: justify;
}

a[target="_blank"]
{
    color: brown;
}

input[type="text"]
{
    background-color: chartreuse;
}